.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    gap: 10px; 

}
.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 38, 133);

}